.worksBlock {
	/*min-height: 100vh;*/
	background-color: #a3dec9;
}

.worksContainer {
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.title {
	background-color: #b0afaf;
}

.works {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}