.skillsBlock {
	/*min-height: 100vh;*/
	background-color: #ffc2a6;
}

.skillsContainer {
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.title {
	background-color: #b0afaf;
}

.skills {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}